In [2]:
name='sunil'
'my name is '+ name

'my name is sunil'

In [4]:
f'my name is {name}'

'my name is sunil'

In [8]:
print('i am inserting %s text here'%'some')

i am inserting some text here

In [9]:
print("i am inserting %s text here and %s text here"%('some','more'))

i am inserting some text here and more text here

In [10]:
x='sunil'
y='edp'
print("i am %s and i am in %s deptt"%(x,y))

i am sunil and i am in edp deptt

In [11]:
print("his name is %r"%'the great khali')

his name is 'the great khali'

In [14]:
print('i am %s'%'sunil\tkumar')

i am sunil	kumar

In [15]:
print("the value is %s"%3.75)
print("the value is %d"%3.75)

the value is 3.75
the value is 3

In [23]:
print("floating no is %1.0f"%13)

floating no is 13

In [35]:
print('{0:15} | {1:10}'.format('fruit','quantity'))
print('{0:15} | {1:10}'.format('apple','3'))
print('{0:15} | {1:10}'.format('banana','10'))
print('{0:15} | {1:10}'.format('blackberry','10'))

fruit           | quantity
apple           | 3
banana          | 10
blackberry      | 10

In [31]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [7]:
print('|{0:<8}|{1:^8}|{2:=>8}|'.format('left','center','right'))
print('|{0:=<8}|{1:-^8}|{2:.>8}|'.format('10','11','12'))

|left    | center |===right|
|10======|---11---|......12|

In [1]:
%%writefile myfile.txt
hello this is a text file
this is second line
this is a third line

Writing myfile.txt

In [2]:
myfile=open('myfile.txt')

In [3]:
myfile

In [4]:
pwd

'C:\\Users\\sunil'

In [5]:
myfile.read()

'hello this is a text file\nthis is second line\nthis is a third line\n'

In [6]:
myfile.read()

''

In [10]:
myfile.seek(0)

0

In [8]:
myfile.read()

'hello this is a text file\nthis is second line\nthis is a third line\n'

In [11]:
myfile.readlines()

['hello this is a text file\n',
 'this is second line\n',
 'this is a third line\n']

In [13]:
myfile=open(r"C:\Users\sunil\Desktop\test.txt")

In [14]:
myfile.read()

'dgdgdg\ndgdgfd\nfdgfdgd\ndgdfg'

In [16]:
with open('myfile.txt') as my_file:
    content=my_file.read()

In [17]:
content

'hello this is a text file\nthis is second line\nthis is a third line\n'

In [21]:
%%writefile my_new_file.text
one on first
two on second
three on third
four on fourth

Overwriting my_new_file.text

In [25]:
with open('my_new_file.text',mode='r') as f:
    print(f.read())

one on first
two on second
three on third
four on fourth

In [26]:
content

'one on first\ntwo on second\nthree on third\nfour on fourth\n'

In [33]:
with open('my_new_file.text',mode='a') as f:
    f.write('\nfive on fifth')

In [34]:
with open('my_new_file.text',mode='r') as f:
    print(f.read())

one on first
two on second
three on third
four on fourth
five on fifthfive on fifth
five on fifth

In [31]:
content

'one on first\ntwo on second\nthree on third\nfour on fourth\nfive on fifthfive on fifth'

In [35]:
hungry=True
if hungry:
    print('feed me')

true

### open source class practice

In [21]:
class Dog:
    """a simple attempt to model a dog"""
    def __init__(self,name,age):
        
        self.name=name
        self.age=age
    def sit(self):
        
        print(f"{self.name} is sitting")
    def roll_over(self):
        print(f"{self.name} can roll")

In [22]:
my_dog=Dog("willie",6)

In [23]:
print(f"my dog name is {my_dog.name}.")

my dog name is willie.

In [25]:
my_dog.sit()

willie is sitting

In [26]:
my_dog.roll_over()

willie can roll

In [30]:
my_restaurrant.name

'paradise'

In [31]:
my_restaurrant.cuisine

'chineese'

In [38]:
my_restaurrant.describe_restaurrant()

best for chineese food in the town

In [39]:
my_restaurrant.open_restaurrant()

restaurant is open now

In [3]:
print(my_car.get_descriptive_name())

2021 Bmw 7

In [5]:
my_car.read_odometer()

car has 0 miles on it

In [23]:
#my_car.odometer_reading=23
my_car.read_odometer()

car has 200 miles on it

In [19]:
my_car.update_odometer(30)

you can not roll back odometer!

In [22]:
my_car.increment_odometer(200)

In [51]:
my_restaurrant.number_served

0

In [56]:
print(my_restaurrant.set_number_served(100))

300

In [57]:
my_restaurrant.increment_number_served(700)

400

In [156]:
user=User('sunil','kumar')
user.describe_user()
user.greet_user()
user.login_attempts

full name of user: sunil kumar
hello sunil kumar

0

In [176]:
user.increment_login_attempts()

1

In [175]:
user.reset_login_attempts()

0

In [129]:
user=User('sunil1','kumar1')
user.describe_user()
user.greet_user()
user.login_attempts
user.increment_login_attempts()

full name of user: sunil1 kumar1
hello sunil1 kumar1

1

In [228]:
class Car:
    """A simple attempt to repersent a car"""
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
        self.odometer_reading=0
    def get_descriptive_name(self):
        """return a neatly formatted descriptive name"""
        long_name=f"{self.year} {self.make} {self.model}"
        return long_name.title()
    def read_odometer(self):
        """print a statement showing car mileage"""
        print(f"car has {self.odometer_reading} miles on it")
    def update_odometer(self,mileage):
        if mileage>=self.odometer_reading:
            self.odometer_reading=mileage
        else:
            print("you can not roll back odometer!")
    def increment_odometer(self,miles):
        self.odometer_reading+=miles
    def fill_gas_tank(self,gas):
        self.gas=gas
        print(f"amount of gas in tank is {self.gas}")

In [242]:
class ElectricCar(Car):
    """repersent an electric car"""
    def __init__(self,make,model,year):
        Car.__init__(self,make,model,year)
        self.battery_size=75
        self.battery=Battery()
    
    def fill_gas_tank(self):
        print("this car doesn't have a gas tank")

In [240]:
class Battery:
    """battery created for electric car"""
    def __init__(self,battery_size=100):
        self.battery_size=battery_size
        
    def describe_battery(self):
        """print battery size"""
        print(f"this car has {self.battery_size}-kwh battery")
    def get_range(self):
        if self.battery_size==75:
            range=260
        elif self.battery_size==100:
            range=315
        print(f"this car has {range} miles on full charge")

In [241]:
my_tesla=ElectricCar('tesla','model s',2019)
my_tesla.get_descriptive_name()

'2019 Tesla Model S'

In [236]:
my_car=Car('BMW','7',2021)

In [237]:
my_tesla.battery_size

75

In [239]:
my_tesla.battery.describe_battery()

this car has 100-kwh battery

In [231]:
my_tesla.fill_gas_tank()

this car doesn't have a gas tank

In [232]:
my_car.fill_gas_tank(100)

amount of gas in tank is 100

In [243]:
my_tesla.battery.get_range()

this car has 315 miles on full charge

### ice cream stand

In [272]:
class Restaurant:
    def __init__(self,name,cuisine_type):
        self.name=name
        self.cuisine=cuisine_type
        self.number_served=0
    def describe_restaurant(self):
        print(f"best for {self.cuisine} food in the town")
    def open_restaurant(self):
        print("restaurant is open now")
    

my_restaurant=Restaurant("paradise","chineese")

In [273]:
class IceCreamStand(Restaurant):
    def __init__(self,name,cuisine_type):
        Restaurant.__init__(self,name,cuisine_type)
        self.flavors=['vanilla','choco','butter_scotch']
        print("flavors available")
        for flavor in self.flavors:
            
            print(f"flavor: {flavor}")

In [274]:
my_restaurant.name

'paradise'

In [275]:
ice_cream_stand=IceCreamStand("ice_paradise","icecreams")

flavors available
flavor: vanilla
flavor: choco
flavor: butter_scotch

In [276]:
ice_cream_stand.describe_restaurant()

best for icecreams food in the town

In [278]:
class User:
    login_attempts=0
    def __init__(self,f_name,l_name):
        self.first_name=f_name
        self.last_name=l_name
    def describe_user(self):
        self.full_name=self.first_name+' '+self.last_name
        print(f"full name of user: {self.full_name}")
        
    def greet_user(self):
        print(f"hello {self.full_name}")
        
    def increment_login_attempts(self):
        self.login_attempts+=1
        return self.login_attempts
    def reset_login_attempts(self):
        self.login_attempts=0
        return self.login_attempts

In [297]:
class Admin(User):
    def __init__(self,f_name,l_name):
        User.__init__(self,f_name,l_name)
        self.priv=Privileges()

In [298]:
admin=Admin("s","k")

In [303]:
admin.priv.show_priv()

admin : can add post
admin : can delete post
admin : can ban user

In [300]:
class Privileges:
    def __init__(self):
        self.privs=['can add post','can delete post',
                  'can ban user']
    def show_priv(self):
        for priv in self.privs:
            print(f"admin : {priv}")

In [301]:
privileges=Privileges()

In [302]:
privileges.show_priv()

admin : can add post
admin : can delete post
admin : can ban user

In [1]:
print('{} {} {}'.format('sunil','kumar',23))

sunil kumar 23

In [16]:
print('| {2:.<10} | {1:^15} || {0:>20} |'.format('sunil','kumar',23))
print('| {2:/^10} | {1:>15} || {0:<20} |'.format('sunil','kumar',23))
print('| {2:,>10} | {1:<15} || {0:^20} |'.format('sunil','kumar',23))
print('| {2:\<10} | {1:^15} || {0:>20} |'.format('sunil','kumar',23))

| 23........ |      kumar      ||                sunil |
| ////23//// |           kumar || sunil                |
| ,,,,,,,,23 | kumar           ||        sunil         |
| 23\\\\\\\\ |      kumar      ||                sunil |

In [29]:
print('{0:30.3f}'.format(100.3))

                       100.300

In [32]:
name='sk'
print(f"{name!r}")

'sk'

In [33]:
d={}
type(d)

dict

In [34]:
d['key1']='value1'
d['key2']='value2'

In [35]:
d

{'key1': 'value1', 'key2': 'value2'}

In [36]:
d.keys()

dict_keys(['key1', 'key2'])

In [37]:
d.values()

dict_values(['value1', 'value2'])

In [38]:
d.items()

dict_items([('key1', 'value1'), ('key2', 'value2')])

In [42]:
t=(1,2,3,4,1,1)

In [43]:
type(t)

tuple

In [47]:
t.index(3)

2

In [48]:
x=set()

In [49]:
type(x)

set

In [53]:
y=(1,2,3,4,1,2,3,4,1,2,3,4)
set(y)

{1, 2, 3, 4}

In [57]:
print(set(y).add(5))

None

In [56]:
set(y)

{1, 2, 3, 4}

In [58]:
x=set()

In [59]:
x.add(1)

In [60]:
x

{1}

In [61]:
x.add(2)

In [62]:
x

{1, 2}

In [63]:
x.add(1)

In [64]:
x

{1, 2}

In [65]:
3+1.5+4

8.5

In [66]:
s='hello'
s[::-1]

'olleh'

In [67]:
'hello'[::-1]

'olleh'

In [69]:
list=[]
list.append(0)

In [71]:
list.append(0)

In [72]:
list

[0, 0, 0]

In [73]:
list=[0,0,0]

In [74]:
list

[0, 0, 0]

In [76]:
x=(0,0,0)
[x]

[(0, 0, 0)]

In [79]:
list4=[5,3,6,4]

In [80]:
type(list4)

list

In [4]:
list=[1,2,3,4,5,6]
for i in range(len(list)):
    print(list[i])

1
2
3
4
5
6

In [5]:
17%5

2

In [6]:
for i in list:
    if i%2==0:
        print(i)
    else:
        print("odd")

odd
2
odd
4
odd
6

In [10]:
sum=0
for i in list:
    sum+=i
    print("after adding {} the sum is :{}".format(i,sum))
print("final sum is",sum)

after adding 1 the sum is :1
after adding 2 the sum is :3
after adding 3 the sum is :6
after adding 4 the sum is :10
after adding 5 the sum is :15
after adding 6 the sum is :21
final sum is 21

In [15]:
x="anything between quotes is string"
x.split('n')

['a', 'ythi', 'g betwee', ' quotes is stri', 'g']

In [16]:
for str in x:
    print(str)

a
n
y
t
h
i
n
g

b
e
t
w
e
e
n

q
u
o
t
e
s

i
s

s
t
r
i
n
g

In [17]:
tup=(1,2,3)
for i in tup:
    print(i)

1
2
3

In [26]:
list1=[(1,2),(3,4),(5,6)]
for j in list1:
    print(i,j)

5 (1, 2)
5 (3, 4)
5 (5, 6)

In [33]:
d = {'k1':1,'k2':2,'k3':3}

In [35]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [36]:
d.values()

dict_values([1, 2, 3])

In [39]:
x=0
while x<=10:
    print(x)
    x+=1
print("loop ends because now x = {}".format(x))

0
1
2
3
4
5
6
7
8
9
10
loop ends because now x = 11

In [40]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [42]:
x=0
while x<10:
    print(x)
    x+=1
    if x==5:
        print("breaking because x equals to 5")
        break
    else:
        print("continue")
        continue

0
continue
1
continue
2
continue
3
continue
4
breaking because x equals to 5

In [45]:
index_count=0
for letter in "sunil":
    print(f"at index {index_count} the letter is '{letter.upper()}'")
    index_count+=1

at index 0 the letter is 'S'
at index 1 the letter is 'U'
at index 2 the letter is 'N'
at index 3 the letter is 'I'
at index 4 the letter is 'L'

In [46]:
for i,letter in enumerate("sunil"):
    print(f"at index {i} the letter is '{letter.upper()}'")

at index 0 the letter is 'S'
at index 1 the letter is 'U'
at index 2 the letter is 'N'
at index 3 the letter is 'I'
at index 4 the letter is 'L'

In [47]:
for letter in "sunil":
    print(letter)

s
u
n
i
l

In [48]:
"sunil".index('s')

0

In [54]:
list(enumerate('sunil'))

TypeError: 'list' object is not callable

In [1]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [2]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [6]:
from random import shuffle
list1=[1,2,3,4]

In [7]:
shuffle(list1)

In [8]:
list1

[1, 4, 2, 3]

In [10]:
list1.sort()

In [11]:
list1

[1, 2, 3, 4]

In [12]:
shuffle(list1)

In [13]:
list1

[3, 4, 2, 1]

In [17]:
from random import randint
randint(0,100)

33

In [18]:
input("enter some text")

enter some textgood

'good'

In [19]:
for x in "word":
    print(x)

w
o
r
d

In [20]:
lst=[x for x in "word"]

In [21]:
lst

['w', 'o', 'r', 'd']

In [22]:
lst=[x**2 for x in range(1,11)]

In [23]:
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [25]:
st = 'Print only the words that start with s in this sentence'

In [26]:
st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [27]:
for word in st.split():
    if word[0]=='s':
        print(word)

start
s
sentence

In [28]:
for word in st.split():
    if len(word)%2==0:
        print(word)

only
that
with
in
this
sentence

In [5]:
for i in list(range(1,51)):
    if i%3==0:
        if i%5==0:
            print("fizzbuzz")
        else:
            print("fizz")
    elif i%5==0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz

In [6]:
from random import randint

In [44]:
computer_num=randint(1,101)

In [45]:
computer_num

48

In [46]:
diff_list=[]

In [ ]:
while True:
    user_num=int(input("enter your guess :\t"))
    diff=abs(computer_num-user_num)
    diff_list.append(diff)
    print(diff_list)
    if diff==0:
        print("you got it")
        break
    if len(diff_list)==1:
        if diff<=10:
            print("warm")
        else:
            print("cold")
    elif len(diff_list)>1:
        if diff<=10:
            if diff_list[-1]<diff_list[-2]:
                print("warmer")
        if diff>10:
            if diff_list[-1]>diff_list[-2]:
                print("colder")

enter your guess :	100
[52]
cold
enter your guess :	90
[52, 42]
enter your guess :	80
[52, 42, 32]
enter your guess :	70
[52, 42, 32, 22]
enter your guess :	60
[52, 42, 32, 22, 12]
enter your guess :	50
[52, 42, 32, 22, 12, 2]
warmer
enter your guess :	40
[52, 42, 32, 22, 12, 2, 8]
enter your guess :	45
[52, 42, 32, 22, 12, 2, 8, 3]
warmer

In [1]:
#number guessing game

In [7]:
from random import randint
computer_guess=randint(1,101)
print(computer_guess)

63

In [9]:
diff_warm=[]
diff_cold=[]
while True:
    user_guess=int(input("enter your guess"))
    diff=abs(user_guess-computer_guess)
    
    if diff==0:
        print("you got it,number is :{}".format(user_guess))
        break
    elif diff<=10:
        diff_warm.append(diff)
        if len(diff_warm)==1:
            print("warm")
        elif diff_warm[-1]<diff_warm[-2]:
            print("warmer")
        else:
            print("warm")
    else:
        diff_cold.append(diff)
        if len(diff_cold)==1:
            print("cold")
        elif diff_cold[-1]>diff_cold[-2]:
            print("colder")
        else:
            print("cold")

enter your guess10
cold
enter your guess20
cold
enter your guess30
cold
enter your guess25
colder
enter your guess40
cold
enter your guess50
cold
enter your guess60
warm
enter your guess70
warm
enter your guess80
colder
enter your guess70
warm
enter your guess65
warmer
enter your guess66
warm
enter your guess64
warmer
enter your guess63
you got it,number is :63

In [10]:
pwd

'C:\\Users\\sunil'