Travel book

In [71]:
travel_log = {'country_1':{'city_c1':['city_11','city_12','city_13','city_14'],'total_visit':5},
              'country_2':{'city_c2':['city_21','city_22','city_23','city_24'],'total_visit':10},
              'country_3':{'city_c3':['city_31','city_32','city_33','city_34'],'total_visit':15}}

In [72]:
count = 0
country_visited = []

for key in travel_log:
  count += 1
  country_visited.append(key)

print("total countries visited :",count)
print("\nname of countries visited :",country_visited)

for i in range(len(country_visited)):
  print("\ndetail of :", country_visited[i])
  print(f"city visited in, {country_visited[i]} : {travel_log[country_visited[i]]['city_c'+str(i+1)]}")
  print(f"total visit to {country_visited[i]} : {travel_log[country_visited[i]]['total_visit']}")

total countries visited : 3

name of countries visited : ['country_1', 'country_2', 'country_3']

detail of : country_1
city visited in, country_1 : ['city_11', 'city_12', 'city_13', 'city_14']
total visit to country_1 : 5

detail of : country_2
city visited in, country_2 : ['city_21', 'city_22', 'city_23', 'city_24']
total visit to country_2 : 10

detail of : country_3
city visited in, country_3 : ['city_31', 'city_32', 'city_33', 'city_34']
total visit to country_3 : 15

In [73]:
def update_travel_log(country, city_visited, total_visits):
  travel_log[country] = {'city_c4' : city_visited, 'total_visits' : total_visits}

In [77]:
update_travel_log('country_4', ['city', 'city'], 6)

In [78]:
country = 'country_5'
travel_log[country] = "france"

In [79]:
travel_log

{'country_1': {'city_c1': ['city_11', 'city_12', 'city_13', 'city_14'],
  'total_visit': 5},
 'country_2': {'city_c2': ['city_21', 'city_22', 'city_23', 'city_24'],
  'total_visit': 10},
 'country_3': {'city_c3': ['city_31', 'city_32', 'city_33', 'city_34'],
  'total_visit': 15},
 'country_4': {'city_c4': ['city', 'city'], 'total_visits': 6},
 'country_5': 'france'}