Travel book

In [96]:
travel_log = {'india':{'city_visited':['jaipur','hyderabad','kurukshetra','delhi'],'total_visit':5},
              'pakistan':{'city_visited':['multan','peshawer','karachi','lahore'],'total_visit':10},
              'australia':{'city_visited':['perth','sydney','melbourne'],'total_visit':15}}

In [97]:
def travel_book():
  count = 0
  country_visited = []

  for key in travel_log:
    count += 1
    country_visited.append(key)

  print("total countries visited :",count)
  print("\nname of countries visited :",country_visited)

  for i in range(len(country_visited)):
    print("\ndetail of :", country_visited[i])
    print(f"city visited in, {country_visited[i]} : {travel_log[country_visited[i]]['city_visited']}")
    print(f"total visit to {country_visited[i]} : {travel_log[country_visited[i]]['total_visit']}")

In [98]:
def update_travel_log(country, city_visited, total_visits):
  travel_log[country] = {'city_visited' : city_visited, 'total_visit' : total_visits}

In [101]:
print("------------------welcome to travel log record---------------------------------------")
choice = input("do you want to update travel book : y/n\t")
if choice == 'y':
  country = input("enter name of country you want to add:\t")
  city = input("enter name of cities you visit,please seprated by comma:\t")
  city_visited = city.split(',')
  total_visit = int(input("how many time you visit there"))
  print("---------------thanks for the information----------------------")
  print("-----------------here is your travel log book-------------------")
  update_travel_log(country, city_visited, total_visit)
else:
  pass

travel_book()

------------------welcome to travel log record---------------------------------------
do you want to update travel book : y/n	n
total countries visited : 4

name of countries visited : ['india', 'pakistan', 'australia', 'america']

detail of : india
city visited in, india : ['jaipur', 'hyderabad', 'kurukshetra', 'delhi']
total visit to india : 5

detail of : pakistan
city visited in, pakistan : ['multan', 'peshawer', 'karachi', 'lahore']
total visit to pakistan : 10

detail of : australia
city visited in, australia : ['perth', 'sydney', 'melbourne']
total visit to australia : 15

detail of : america
city visited in, america : ['la', 'ny', 'california', 'washington', 'dd']
total visit to america : 8